/* ================================
   GENERAL SANS — FONT WEIGHTS
   ================================ */

/* Extralight (100) */

/* Regular (400) */
@font-face {
  font-family: "General Sans";
  src: local("General Sans Regular"),
       url("../assets/fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "General Sans";
  src: local("General Sans Medium"),
       url("../assets/fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semibold (600) */
@font-face {
  font-family: "General Sans";
  src: local("General Sans Semibold"),
       url("../assets/fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "General Sans";
  src: local("General Sans Bold"),
       url("../assets/fonts/GeneralSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
